{
    "services": {
        "loco": {
            "class": "Loco\\Http\\ApiClient",
            "params": {
                "key": "",
                "base_url": "https://localise.biz/api"
            }
        }
    }
}
